services:
  web:
    image: nginx:latest
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./docker/development/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - laravel-development
    depends_on:
      - php-fpm

  php-fpm:
    container_name: php-fpm
    hostname: php-fpm       
    build:
      context: .
      dockerfile: ./docker/common/php-fpm/Dockerfile
      target: development
    environment:
      - PHP_FPM_LISTEN=0.0.0.0:9000
    env_file:
      - .env
    volumes:
      - ./:/var/www
    working_dir: /var/www
    networks:
      - laravel-development
    depends_on:
      mysql:
        condition: service_healthy

  mysql:
    image: mysql:8.0
    ports:
      - "3306:3306"
    env_file:
      - .env
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=forerent
    volumes:
      - mysql-data-development:/var/lib/mysql
    networks:
      - laravel-development
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-proot"]
      interval: 10s
      timeout: 5s
      retries: 5

  price_api:
    build:
      context: ./price_api
    volumes:
      - ./price_api:/app
    ports:
      - "8001:8000"
    networks:
      - laravel-development

networks:
  laravel-development:

volumes:
  mysql-data-development: