@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@import 'flowbite/src/themes/default';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@plugin 'flowbite/plugin';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';
@source '../../node_modules/flowbite';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-body: "Open Sans", sans-serif, ui-sans-serif, system-ui;
    --font-highlight: "Lato", sans-serif, ui-sans-serif, system-ui;

    --color-primary:  #0C0A84;
    --color-secondary: #1080FC;
    --color-confirm: #004086;
    --color-decline: #B2E1FF;
    --color-action: #152C73;
    --border-default: 1rem;
    --border-action: 3rem;
    --border-button: 1.25rem;
}

.page-container {
    @apply w-full min-h-full rounded-tl-4xl bg-[#F4F7FC] flex flex-col px-4 md:px-8 lg:px-18 pt-9 pb-16;
}
